body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    body {
        background-image: url('fond\ voiture.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }
}   
   
 .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.title {
    margin: 0;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-button {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #ddd;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.logo {
    margin-right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo img {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
    color: black;
}

.btn-reser {
    float: right;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #1e80d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-reser:hover {
    background-color: #1e80d1;
}

.welcome-section {
    background-color: #f4f4f4;
    padding: 30px;
    text-align: center;
}

.welcome-content {
    max-width: 800px;
    margin: 0 auto;
}

.welcome-content h2 {
    color: #333;
}

.welcome-content p {
    color: #666;
    line-height: 1.6;
}
